<div class="card p-2">
  <p class="mb-4 ml-4">
    <%= t("global.search") %>:
    <i><%= params[:term] %></i>
  </p>

  <% unless @fanfics.nil? %>
  <ul class="search_results">
    <% @fanfics.each do |fanfic| %>
      <li>
        <h3>
          <%= link_to fanfic.title, fanfic_path(fanfic) %>
        </h3>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p><%= t("global.failed_search") %></p>
  <% end %>

  <br>
</div>
