<p><%= likes_count(chapter) %></p>
<% if pre_like(chapter) %>
  <%= button_to 'Unlike', fanfic_chapter_like_path(chapter_id: chapter.id), method: :delete, class: 'btn btn-secondary btn-lg' %>
<% else %>
  <%= button_to 'Like', fanfic_chapter_likes_path(chapter_id: chapter.id), method: :post, class: 'btn btn-secondary btn-lg' %>
<% end %>
