<div class="card p-2">
  <div class="card-body">
    <h3 class="card-title"><%= t("global.top") %> 5</h3>
    <% @top_fanfics.each do |fanfic| %>
    <hr>
    <h6><%= link_to fanfic.title, fanfic_path(fanfic) %></h6>
    <div class="pt-2"><%= render partial: 'rating/show', locals: { fanfic: fanfic, readonly: "read-only='true'" } %></div>
    <% end %>
  </div>
</div>
