<div class="card p-2">
  <h1 class="text-center"><%= t("fanfic.editing") %></h1>

  <%= form_for @fanfic, :url => { :action => "update" } do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= link_to t('global.back'), fanfics_path %>
  </div>
</div>
