<h1>Editing Fanfic</h1>

<%= form_for @fanfic, :url => { :action => "update" } do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>


<%= link_to 'Show', @fanfic %> |
<%= link_to 'Back', fanfics_path %>
