<h1>Fanfics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @fanfics.each do |fanfic| %>
      <tr>
        <td><%= link_to fanfic.title, fanfic_path(fanfic) %></td>
        <td><%= fanfic.description %></td>
        <td><%= fanfic.genre %></td>
        <td><%= link_to fanfic.author.name, fanfic.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
