<h2>Chapters</h2>
<% fanfic.chapters.each do |chapter| %>
  <ul class="nav nav-pills ">
    <li class="nav-item">
      <%= link_to 'Chapter '+ chapter.number.to_s + ": " + chapter.name, fanfic_chapter_path(fanfic, chapter), class: "nav-link" %>
    </li>
    <% if has_access?(chapter.fanfic.user_id.to_i) %>
    <li class="nav-item">
      <%= link_to 'Edit', edit_fanfic_chapter_path(fanfic, chapter), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Destroy', fanfic_chapter_path(fanfic, chapter), class: "nav-link", method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
<% end %>
