<div class="card p-2">
  <h1 class="text-center"><%= t("chapter.editing") %></h1>


  <%= form_for @chapter, url: {action: "update"} do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
  <% end %>

  <%= link_to t('global.back'), fanfic_path(@fanfic) %>
</div>
