<h1>Editing Chapter</h1>


<%= form_for @chapter, url: {action: "update"} do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>

<%= link_to t('global.back'), fanfic_path(@fanfic) %>
