<div class="card p-2 d-flex justify-content-center">
  <h1 class="text-center"><%= t("chapters.new") %></h1>

  <%= form_for @chapter, url: {action: "create"} do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
  <% end %>

  <%= link_to t('global.back'), fanfic_path(@fanfic) %>
</div>
