/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require dropzone/dropzone
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'easy-autocomplete/dist/easy-autocomplete';

@font-face {
  font-family: "lotr_font";
  src: asset-url("lotr_font.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Light mode */
[data-theme="light"] {
  --background-color: white;
  --text-color: black;
  --card-color: #E6E6FA;
}

/* Dark mode */
[data-theme="dark"] {
  --background-color: #303232;
  --text-color: white;
  --card-color: black;
}

.tecnic {
  font-family: serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
.card {
  background-color: var(--card-color);
}


body, p, div, a {
  font-family: "lotr_font";
}

a {
  font-family: "lotr_font";
}

a {
  color: var(--text-color); }

a:visited {
  color: var(--text-color); }

a:hover {
  color: #005F5F; }
